@import "./reset.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	font-family: 'Roboto';
	src: url('./fonts/RobotoCondensed-Regular.ttf');
}
@font-face{
		font-display: swap;
		font-style: normal;
		font-weight: 300;
		font-family: 'Roboto';
		src: url('./fonts/RobotoCondensed-Light.ttf');
}
@font-face{
		font-display: swap;
		font-style: normal;
		font-weight: 700;
		font-family: 'Roboto';
		src: url('./fonts/RobotoCondensed-Bold.ttf');
}
.container{
	max-width: 1408px;
	padding: 0 17px;
	margin: 0 auto;
	}
